<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
        "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

        <vendor>The systemd Project</vendor>
        <vendor_url>http://www.freedesktop.org/wiki/Software/systemd</vendor_url>

        <action id="org.freedesktop.import1.import">
                <description>Import a VM or container image</description>
                <description xml:lang="be">Імпартаваць вобраз ВМ або кантэйнера</description>
                <description xml:lang="be@latin">Impartavać vobraz VM abo kantejniera</description>
                <description xml:lang="da">Importér en VM eller container billede</description>
                <description xml:lang="de">Abbild einer VM oder eines Containers importieren</description>
                <description xml:lang="es">Importar una imagen de máquina virtual o de contenedor</description>
                <description xml:lang="fr">Importer une image de machine virtuelle (VM) ou de conteneur</description>
                <description xml:lang="gl">Importar unha imaxe de MV ou contenedor</description>
                <description xml:lang="hu">VM vagy konténer lemezkép importálása</description>
                <description xml:lang="it">Importa un'immagine VM o un container</description>
                <description xml:lang="ko">VM 또는 컨테이너의 이미지 가져오기</description>
                <description xml:lang="pl">Import obrazu maszyny wirtualnej lub kontenera</description>
                <description xml:lang="ru">Импортировать образ виртуальной машины или контейнера</description>
                <description xml:lang="sr">Увезите ВМ или слику контејнера</description>
                <description xml:lang="sv">Importera en VM eller behållaravbildning</description>
                <description xml:lang="tr">Bir SM ya da kapsayıcı kalıbını içe aktar</description>
                <description xml:lang="uk">Імпортувати образ контейнера або віртуальної машини</description>
                <description xml:lang="zh_CN">导入虚拟机或容器镜像</description>
                <description xml:lang="zh_TW">匯入虛擬機器或容器映像</description>
                <message>Authentication is required to import a VM or container image</message>
                <message xml:lang="be">Неабходна аўтэнтыфікацыя для імпарту вобраза ВМ або кантэйнера</message>
                <message xml:lang="be@latin">Nieabchodna aŭtentyfikacyja dlia impartu vobraza VM abo kantejniera</message>
                <message xml:lang="da">Autentificering er nødvendig for at importére en VM eller container billeder.</message>
                <message xml:lang="de">Legitimierung ist zum Importieren eines VM- oder Containerabbilds erforderlich</message>
                <message xml:lang="es">Se requiere autenticación para importar una imagen de máquina virtual o de contenedor</message>
                <message xml:lang="fr">Authentification requise pour importer une image de machine virtuelle (VM) ou de conteneur.</message>
                <message xml:lang="gl">Requírese autenticación para imporar unha imaxe de MV ou contenedor</message>
                <message xml:lang="hu">Hitelesítés szükséges a VM vagy konténer lemezkép importálásához.</message>
                <message xml:lang="it">Autenticazione richiesta per importare un'immagine VM o un container</message>
                <message xml:lang="ko">VM 또는 컨테이너의 이미지를 가져오려면 인증이 필요합니다</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zaimportować obraz maszyny wirtualnej lub kontenera</message>
                <message xml:lang="ru">Чтобы импортировать образ виртуальной машины или контейнера, необходимо пройти аутентификацию.</message>
                <message xml:lang="sr">Потребно је да се идентификујете да бисте увезли виртуелну машину или слику контејнера</message>
                <message xml:lang="sv">Autentisering krävs för att importera en VM eller behållaravbildning</message>
                <message xml:lang="tr">Bir SM ya da kapsayıcı kalıbını içe aktarmak için kimlik doğrulaması gereklidir</message>
                <message xml:lang="uk">Засвідчення потрібно, щоб імпортувати образ контейнера або віртуальної машини</message>
                <message xml:lang="zh_CN">导入虚拟机或容器镜像需要验证</message>
                <message xml:lang="zh_TW">匯入虛擬機器或容器映像需要驗證</message>
                <defaults>
                        <allow_any>auth_admin</allow_any>
                        <allow_inactive>auth_admin</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

        <action id="org.freedesktop.import1.export">
                <description>Export a VM or container image</description>
                <description xml:lang="be">Экспартаваць вобраз ВМ або кантэйнера</description>
                <description xml:lang="be@latin">Ekspartavać vobraz VM abo kantejniera</description>
                <description xml:lang="da">Exportér en VM eller container billede</description>
                <description xml:lang="de">Abbild einer VM oder eines Containers exportieren</description>
                <description xml:lang="es">Exportar imagen de máquina virtual o de contenedor</description>
                <description xml:lang="fr">Exporter une image de machine virtuelle (VM) ou de conteneur</description>
                <description xml:lang="gl">Exportar unha imaxe de MV ou contenedor</description>
                <description xml:lang="hu">VM vagy konténer lemezkép exportálása</description>
                <description xml:lang="it">Esporta un'immagine VM o un container</description>
                <description xml:lang="ko">가상 머신 또는 컨테이너의 이미지 내보내기</description>
                <description xml:lang="pl">Eksport obrazu maszyny wirtualnej lub kontenera</description>
                <description xml:lang="ru">Экспортировать образ виртуальной машины или контейнера</description>
                <description xml:lang="sr">Извезите ВМ или слику контејнера</description>
                <description xml:lang="sv">Exportera en VM eller behållaravbildning</description>
                <description xml:lang="tr">Bir SM ya da kapsayıcı kalıbını dışa aktar</description>
                <description xml:lang="uk">Експортувати образ контейнера або віртуальної машини</description>
                <description xml:lang="zh_CN">导出虚拟机或容器镜像</description>
                <description xml:lang="zh_TW">匯出虛擬機器或容器映像</description>
                <message>Authentication is required to export a VM or container image</message>
                <message xml:lang="be">Неабходна аўтэнтыфікацыя для экспарту вобраза ВМ або кантэйнера</message>
                <message xml:lang="be@latin">Nieabchodna aŭtentyfikacyja dlia ekspartu vobraza VM abo kantejniera</message>
                <message xml:lang="da">Autentificering er nødvendig for at exportére en VM eller container billede</message>
                <message xml:lang="de">Legitimierung ist zum Exportieren eines VM- oder Containerabbilds erforderlich</message>
                <message xml:lang="es">Se requiere autenticación para exportar una imagen de máquina virtual o de contenedor</message>
                <message xml:lang="fr">Authentification requise pour exporter une image de machine virtuelle (VM) ou de conteneur.</message>
                <message xml:lang="gl">Requírese autenticación para exportar unha imaxe de MV ou contenedor</message>
                <message xml:lang="hu">Hitelesítés szükséges a VM vagy konténer lemezkép exportálásához.</message>
                <message xml:lang="it">Autenticazione richiesta per esportare un'immagine VM o un container</message>
                <message xml:lang="ko">가상 머신 또는 컨테이너의 이미지를 내보내려면 인증이 필요합니다</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby wyeksportować obraz maszyny wirtualnej lub kontenera</message>
                <message xml:lang="ru">Чтобы экспортировать образ виртуальной машины или контейнера, необходимо пройти аутентификацию.</message>
                <message xml:lang="sr">Потребно је да се идентификујете да бисте извезли виртуелну машину или слику контејнера</message>
                <message xml:lang="sv">Autentisering krävs för att exportera en VM eller behållaravbildning</message>
                <message xml:lang="tr">Bir SM ya da kapsayıcı kalıbını dışa aktarmak için kimlik doğrulaması gereklidir</message>
                <message xml:lang="uk">Засвідчення потрібно, щоб експортувати образ контейнера або віртуальної машини</message>
                <message xml:lang="zh_CN">导出虚拟机或容器镜像需要验证</message>
                <message xml:lang="zh_TW">匯出虛擬機器或容器映像需要驗證</message>
                <defaults>
                        <allow_any>auth_admin</allow_any>
                        <allow_inactive>auth_admin</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

        <action id="org.freedesktop.import1.pull">
                <description>Download a VM or container image</description>
                <description xml:lang="be">Спампаваць вобраз ВМ або кантэйнера</description>
                <description xml:lang="be@latin">Spampavać vobraz VM abo kantejniera</description>
                <description xml:lang="da">Hent en VM eller container billede</description>
                <description xml:lang="de">Abbild einer VM oder eines Containers herunterladen</description>
                <description xml:lang="es">Descargar una imagen de máquina virtual o de contenedor</description>
                <description xml:lang="fr">Télécharger une image de machine virtuelle (VM) ou de conteneur</description>
                <description xml:lang="gl">Descargar unha imaxe de MV ou contenedor</description>
                <description xml:lang="hu">VM vagy konténer lemezkép letöltése</description>
                <description xml:lang="it">Scarica un'immagine VM o un container</description>
                <description xml:lang="ko">가상머신 또는 컨테이너 이미지 다운로드</description>
                <description xml:lang="pl">Pobranie obrazu maszyny wirtualnej lub kontenera</description>
                <description xml:lang="ru">Загрузить образ виртуальной машины или контейнера</description>
                <description xml:lang="sr">Преузмите ВМ или слику контејнера</description>
                <description xml:lang="sv">Hämta ner en VM eller behållaravbildning</description>
                <description xml:lang="tr">Bir SM ya da kapsayıcı kalıbını indir</description>
                <description xml:lang="uk">Звантажити образ контейнера або віртуальної машини</description>
                <description xml:lang="zh_CN">下载虚拟机或容器镜像</description>
                <description xml:lang="zh_TW">下載虛擬機器或容器映像</description>
                <message>Authentication is required to download a VM or container image</message>
                <message xml:lang="be">Неабходна аўтэнтыфікацыя для спампоўкі вобраза ВМ або кантэйнера</message>
                <message xml:lang="be@latin">Nieabchodna aŭtentyfikacyja dlia spampoŭki vobraza VM abo kantejniera</message>
                <message xml:lang="da">Autentificering er nødvendig for at hente en VM eller container billede</message>
                <message xml:lang="de">Legitimierung ist zum Herunterladen eines VM- oder Containerabbilds erforderlich</message>
                <message xml:lang="es">Se requiere autenticación para descargar una imagen de máquina virtual o de contenedor</message>
                <message xml:lang="fr">Authentification requise pour télécharger une image de machine virtuelle (VM) ou de conteneur.</message>
                <message xml:lang="gl">Requírese autenticación para descargar unha imaxe de MV ou contenedor</message>
                <message xml:lang="hu">Hitelesítés szükséges a VM vagy konténer lemezkép letöltéséhez.</message>
                <message xml:lang="it">Autenticazione richiesta per scaricare un'immagine VM o un container</message>
                <message xml:lang="ko">가상머신 또는 컨테이너 이미지를 다운로드하려면 인증이 필요합니다</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby pobrać obraz maszyny wirtualnej lub kontenera</message>
                <message xml:lang="ru">Чтобы загрузить образ виртуальной машины или контейнера, необходимо пройти аутентификацию.</message>
                <message xml:lang="sr">Потребно је да се идентификујете да бисте преузели виртуелну машину или слику контејнера</message>
                <message xml:lang="sv">Autentisering krävs för att hämta ner en VM eller behållaravbildning</message>
                <message xml:lang="tr">Bir SM ya da kapsayıcı kalıbını indirmek için kimlik doğrulaması gereklidir</message>
                <message xml:lang="uk">Засвідчення потрібно, щоб звантажити образ контейнера або віртуальної машини</message>
                <message xml:lang="zh_CN">下载虚拟机或容器镜像需要验证。</message>
                <message xml:lang="zh_TW">下載虛擬機器或容器映像需要驗證</message>
                <defaults>
                        <allow_any>auth_admin</allow_any>
                        <allow_inactive>auth_admin</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

</policyconfig>