insmod part_gpt
insmod part_msdos
insmod fat
insmod efi_gop
insmod efi_uga
insmod video_bochs
insmod video_cirrus
insmod font

if loadfont "${prefix}/fonts/unicode.pf2" ; then
  insmod gfxterm
  set gfxmode="1024x768x32;auto"
  terminal_input console
  terminal_output gfxterm
fi


menuentry "Arch Linux archiso x86_64" {
  set gfxpayload=keep
  search --no-floppy --set=root --label ARCH_201606
  linux /arch/boot/x86_64/vmlinuz archisobasedir=arch archisolabel=ARCH_201606
  initrd /arch/boot/x86_64/archiso.img
}

menuentry "Arch Linux archiso i686" {
  set gfxpayload=keep
  search --no-floppy --set=root --label ARCH_201606
  linux /arch/boot/i686/vmlinuz archisobasedir=arch archisolabel=ARCH_201606
  initrd /arch/boot/i686/archiso.img
}

menuentry "UEFI Shell x86_64 v2" {
  search --no-floppy --set=root --label ARCH_201606
  chainloader /EFI/shellx64_v2.efi
}


menuentry "UEFI Shell x86_64 v1" {
  search --no-floppy --set=root --label ARCH_201606
  chainloader /EFI/shellx64_v1.efi
}
