[Unit]
Description=GSSAPI Proxy Daemon
Before=rpc-gssd.service rpc-svcgssd.service
Requires=proc-fs-nfsd.mount

[Service]
Environment=KRB5RCACHEDIR=/var/lib/gssproxy/rcache
ExecStart=/usr/bin/gssproxy -D
# These two should be used with traditional UNIX forking daemons
# consult systemd.service(5) for more details
Type=forking
PIDFile=/var/run/gssproxy.pid

[Install]
WantedBy=multi-user.target
